<header class="bg-theme">
	<div class="wrap-header zerogrid">
		<div class="row">
			<div class="cssmenu">
				<ul>
				   <li class="active"><a href="/">首页</a></li>
				   <li><a href="/contact">联系方式</a></li>
				</ul>
			</div>
			<a href="/" class="logo"><img src="/images/logo.png" /></a>
		</div>
	</div>
</header>
